/* color map */
/* light purple: #ead0fb */
/* dark purple: #4c168d */
/* blue: #0519ad */
/* black: #000000 */



body {
    background-color:#eedafb ;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4c168d;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: #4c168d;
}

fieldset{
    background-color: #f9f2fd ;
    border-style: solid;
    border-color: #4c168d;
}

legend{
    color: #4c168d;
    background-color: #eedafb;
    border-style: solid;
}

p{
    color: #2b0750
}